# Ignore general
/.*
!.gitignore
*~
._*
*.bak

# Ignore Gradle
/.gradle/
build/

# Ignore IntelliJ - could use "/**/*.iml" to catch all .iml files, but that requires a somewhat recent Git version
/out/
/*.iml
/*.ipr
/*.iws

# Ignore Eclipse
.checkstyle
.project
.classpath
.settings/
bin/

# Ignore Linux
*.directory

#Ignore OSX
Icon
#Ignore Windows
ehthumbs.db
Thumbs.db

# Ignore weird stuff that might be obsolete
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
